body{
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-auto-rows: auto auto 1fr;
    grid-template-areas:"header header" "nav nav" "section section" "aside aside" "footer footer";
    grid-gap: 0.5em 1em;
}

@media screen and (min-width: 600px) {
    body{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"header header" "nav nav" "section aside" "section aside" "footer footer";
    grid-gap: 1em 2em;
    }
}

header{
    background-color: rgb(255, 191, 1);
    grid-area: header;
}

nav{
    background-color: rgb(255, 204, 0);
    grid-area: nav;
}

section{
    grid-area: section;
}

article{
    background-color: rgb(255, 174, 0);
    grid-area: article;
 
}

aside{
    background-color: rgb(255, 157, 0);
    grid-area: aside;
}

footer{
    background-color: rgb(255, 115, 0);
    grid-area: footer;
}